<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon>local_pizza</mat-icon>
        </div>
        Itens da Compra
    </mat-card-header>
    <mat-card-content class="mt-3">
        <ng-container [formGroup]="contratoFormGroup">
            <ng-container formArrayName="contratos">
                <app-produtos-compras-form class="col-12" *ngFor="let tel of entityFormArray.controls; let i = index"
                    [formControlName]="i" [produtosDisponiveis]="produtosDisponiveis">
                    <button type="button" mat-icon-button (click)="removeControl(i)">
                        <mat-icon class="mt-3">delete</mat-icon>
                    </button>
                </app-produtos-compras-form>
            </ng-container>

            <div class="row col">
                <button type="button" mat-raised-button style="margin-right: 4px" color="primary" (click)="pushControl()">
                    Adicionar
                </button>
                <button type="button" mat-raised-button color="accent" (click)="removePopControl()" [disabled]="!canPop">
                    Remover
                </button>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>