<mat-card>
  <mat-card-header>
    <mat-card-title>
      Dados do Cliente
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row" *ngIf="cliente">
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome" value="{{cliente.nome}}" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Turma" value="{{cliente.turma}}" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome Mãe" value="{{cliente.nomeMae}}" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome Pai" value="{{cliente.nomePai}}" [disabled]="true">
      </mat-form-field> 

    </div>
  </mat-card-content>
</mat-card>

<form novalidate [formGroup]="entityForm">
  <mat-card class="mt-3"> 
    <mat-card-header>
      <mat-card-title>
        Relatório de Pendencias ultimo Mes
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="col-6">
            <input matInput placeholder="Quantidade de Compras" value="{{resumo.qtdCompras}}" [disabled]="true">
          </mat-form-field> 
          <mat-form-field class="col-6">
              <input matInput placeholder="Valor total" value="{{resumo.valorTotal}}" [disabled]="true">
            </mat-form-field> 
      </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="mt-3" (click)="onVoltarClick()">Voltar</button>
    </mat-card-actions>
  </mat-card>
</form>