<form novalidate [formGroup]="entityForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        {{isNew ? 'Cadastrar' : 'Editar'}} Cliente
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="col-6">
          <input matInput placeholder="Nome" formControlName="nome" required>
        </mat-form-field>
        <mat-form-field class="col-6">
          <input matInput placeholder="CPF" formControlName="cpf" required>
          <mat-hint>XXX.XXX.XXX-YY</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-6">
          <input matInput type="email" placeholder="E-mail" formControlName="email" required>
        </mat-form-field>

        <mat-form-field class="col-7">
          <input #fornecedorField matInput placeholder="Selecione o Estado" [matAutocomplete]="auto" formControlName="estado" (input)="onChange($event.target.value)" required>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="formatFornecedorName">
            <mat-option *ngFor="let e of estados | async" [value]="e">
              {{e.nome}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="mt-3" (click)="onVoltarClick()">Voltar</button>
      <button mat-raised-button color="primary" [disabled]="!entityForm.valid" (click)="onSubmit()" class="mt-3">
        {{isNew ? 'Inserir' : 'Salvar'}}</button>
    </mat-card-actions>
  </mat-card>
</form>