<mat-card>
  <mat-card-header>
    <mat-card-title>
      Dados do Cliente
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row" *ngIf="cliente">
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome" value="{{cliente.nome}}" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Turma" value="{{cliente.turma}}" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome Mãe" value="{{cliente.nomeMae}}" [disabled]="true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <input matInput placeholder="Nome Pai" value="{{cliente.nomePai}}" [disabled]="true">
      </mat-form-field> 

    </div>
  </mat-card-content>
</mat-card>

<form novalidate [formGroup]="entityForm" (ngSubmit)="onSubmit()">
  <mat-card class="mt-3"> 
    <mat-card-header>
      <mat-card-title>
        Detalhes da Compra
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-produtos-compras-array formControlName="itens"></app-produtos-compras-array>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="mt-3" (click)="onVoltarClick()">Cancelar</button>
      <button mat-raised-button color="primary" [disabled]="!entityForm.valid" (click)="onSubmit()" class="mt-3">
        Realizar Compra</button>
    </mat-card-actions>
  </mat-card>
</form>